.leftbar ul {
  list-style-type: none;
}
.leftbar ul li {
  margin-bottom: 5px;
}
.center {
  /* background-color: rgb(6, 7, 30); */
}
.cycle {
  padding: 20px;
  margin: 20px;
}
* {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
li {
  border: 2px solid gray;
}
